.layui-admin-crud section {
    height: 100%;
    padding: 15px;
    overflow-y: auto;
}

.layui-admin-crud .layui-form-tool {
    padding-top: 6px;
}

.tool-bar-search-group {
    display: inline-block;
}

.tool-bar-search-group button.layui-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tool-bar-search-group input {
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    border: 1px inset #009688;
    vertical-align: middle;
}

.layui-fake-input, .layui-fake-select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-left: 10px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #f0f0f0;
    border-radius: 0 2px 2px 0;
    outline: 0;
}

.layui-fake-select {
    background-color: #fff;
    cursor: pointer;
}

.layui-fake-select .select-item {
    display: inline-block;
    height: 28px;
    padding: 0 5px;
    margin-right: 10px;
    line-height: 28px;
    background-color: #009688;
    color: #fff;
}

.layui-fake-select .select-item span {
    vertical-align: middle;
}

.layui-fake-select .select-item .select-item-desc {
    margin-right: 5px;
}

.authorize-card {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.authorize-card .authorize-card-header {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 51px;
    padding: 10px 10px 0;
    border-bottom: 1px solid #f2f2f2;
}

.authorize-card .authorize-card-body {
    position: absolute;
    top: 52px;
    bottom: 10px;
    width: 100%;
    overflow: auto;
}

.row-edit-item input {
    width: 100%;
    border: none;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    box-sizing: border-box;
}

.table-select-content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    overflow: hidden;
}

.local-time-title {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #950000;
}

.total-title-card {
    padding-top: 8px;
    text-align: center;
}

.total-title-card label {
    font-weight: 900;
    color: #333;
    padding: 0 5px;
}

.layui-badge-dot-bg {
    height: 14px;
    width: 14px;
    margin-right: 5px;
    vertical-align: middle;
}

.layui-text-blue {
    color: #1e9fff;
}
