.layui-admin-crud section {
    padding: 15px;
}

.layui-admin-crud .layui-form-tool {
    padding-top: 6px;
}

.tool-bar-search-group {
    display: inline-block;
}

.tool-bar-search-group button.layui-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tool-bar-search-group input {
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    border: 1px inset #009688;
    vertical-align: middle;
}

.layui-fake-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-left: 10px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #f0f0f0;
    border-radius: 0 2px 2px 0;
    outline: 0;
}

.authorize-card {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.authorize-card .authorize-card-header {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 51px;
    padding: 10px 10px 0;
    border-bottom: 1px solid #f2f2f2;
}

.authorize-card .authorize-card-body {
    position: absolute;
    top: 52px;
    bottom: 10px;
    width: 100%;
    overflow: auto;
}

.row-edit-item input {
    width: 100%;
    border: none;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    box-sizing: border-box;
}
